body{

	background-color: #F8F8F8; 
}

section.container {

	margin-left: 0;
}

.footer {

    background-color: #AfAfAf;
	bottom: 0;
	margin: 0px auto;
    padding: 20px 0px;
	position: absolute;
	width: 100%;
}

.jumbotron {

	margin-bottom: 0;
}

.navbar {

	margin-bottom: 0px;
}