<!DOCTYPE html>
<html lang="en" ng-app="gatoEncerradoApp">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Home</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="node_modules/jquery/dist/jquery.min.js"></script>

	<link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/aditionalStyle.css">

    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script type="text/javascript" src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="node_modules/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-animate/angular-animate.min.js"></script>
</head>
<body ng-controller="GatoEncerradoCtrl as Ctrl">
	
	<nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img class="media-object img-thumbnail img-responsive" src="img/logo.jpg" width=50px height=40px></a>
            </div>
            <div class="navbar-collapse collapse">
            	<ul class="navbar navbar-right list-unstyled">
            		<li>
            			<h3><label class="label label-default">Hola Jugador!</label></h3>
            		</li>
                </ul>
            </div>
        </div>
	</nav>

	<header class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            <div class="row row-header">
            	<div class="col-sm-4">
            		<img src="img/gatoEncerrado.jpg" alt="GatoEncerrado" class="img-responsive" width="80px" height="80px">
            	</div>
            	<div class="col-sm-5 col-sm-pull-3">
            		<h1>Acá hay Gato Encerrado!</h1>
            	</div>
            </div>
        </div>
    </header>

    <section>
        <div class="panel panel-default">
            <div class="container-fluid">
                <div class="panel-body">
                    <div class="col-sm-12">
                        <h1>Selecciona un Laberinto</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container">
    	<article class="row row-content">
    		<div class="col-xs-12">
                <uib-accordion close-others="true">
                  <uib-accordion-group ng-repeat="l in laberintos" is-open="isOpen">
                      <uib-accordion-heading>
                        <a ng-click="setSeleccionado(l.idLaberinto)" href="#">{{l.nombreLaberinto}}</a>
                      </uib-accordion-heading>
                      <div class="media">
                          <div class="media-left media-middle">
                                <img class="media-object img-thumbnail img-responsive" src="img/laberinto2.jpg" alt="ImgLaberinto">
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading">{{l.nombreLaberinto}}</h2>
                                <p>Phasellus nisi ipsum, ornare non luctus id, molestie sit amet mauris. Mauris nec mi volutpat, tincidunt sem ut, dignissim diam. In et risus nec est pulvinar blandit.</p>
                                <div class="media-left">
                                    <button class="btn btn-primary">Jugar</button>
                                </div>
                            </div>
                        </div>
                  </uib-accordion-group>
              </uib-accordion>
            </div>
    		<!-- <div class="col-xs-12 col-sm-6" ng-repeat="l in laberintos" ng-show="seleccionado">
                            <h1>Laberinto Seleccionado:</h1>
                            <div class="container">
                                <div class="row row-content">
                                    <div class="col-sm-12">
                                        <div class="media">
                                            <div class="media-left media-middle">
                                                <a href="#">
                                                    <img class="media-object img-thumbnail img-responsive" src="img/laberinto2.jpg" alt="ImgLaberinto">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h2 class="media-heading">{{l.nombreLaberinto}}</h2>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pharetra mi nec condimentum ullamcorper. Donec in rutrum neque, et viverra purus. Cras non magna mi. Donec tristique justo id bibendum faucibus. Sed est sem, malesuada ac porta vitae, porta eget tortor. Sed quis congue augue. Mauris vehicula justo arcu, sit amet maximus odio posuere at. Donec malesuada ac quam eget sagittis. Aenean sagittis lacus diam, ac commodo tellus commodo vitae. Vivamus non augue est. Nulla in purus iaculis, tincidunt ligula quis, vulputate nulla.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
            </div> -->
    	</article>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center">Construccion de Interfaces de Usuario 2016</p>
                    <p class="text-center">Grupo 2: Ivan Belleil, Sebastian Daprá, Emiliano Romero</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
</body>
</html>