<!DOCTYPE html>
<html lang="en" ng-app="gatoEncerradoApp">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Home</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="node_modules/jquery/dist/jquery.min.js"></script>

	<link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script type="text/javascript" src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-resource/angular-resource.min.js"></script>

    <script type="text/javascript" src="node_modules/angular-animate/angular-animate.min.js"></script>
    
    <script src="node_modules/angular-loading-bar/build/loading-bar.min.js"></script>
    <link rel="stylesheet" href="node_modules/angular-loading-bar/build/loading-bar.min.css"/>

    <script src="node_modules/bootbox/bootbox.min.js"></script>

    <link rel="stylesheet" href="css/aditionalStyle.css">

</head>
<body ng-controller="GatoEncerradoCtrl as Ctrl">
	
	<nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img class="media-object img-thumbnail img-responsive" src="img/garfieldEncerrado.jpg" width=80px height=65px></a>
            </div>
            <div class="navbar-collapse collapse">
            	<ul class="navbar navbar-right list-unstyled">
            		<li>
            			<h3><label class="label label-default">Hola Jugador!</label></h3>
            		</li>
                </ul>
            </div>
        </div>
	</nav>

	<header class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            <div class="page-header">
            	<div class="col-sm-4">
            		<img src="img/gatoEncerrado.jpg" alt="GatoEncerrado" class="img-responsive" width="80px" height="80px">
            	</div>
            	<div class="col-sm-5 col-sm-pull-3">
            		<h1>Acá hay Gato Encerrado!</h1>
            	</div>
            </div>
        </div>
    </header>

    <div class="row">
        <ul class="example-animate-container">
            <li class="message bg-success animate-repeat" ng-repeat="msg in msgs">{{msg}}</li>
        </ul>
    </div>

    <section>
        <div class="panel panel-default">
            <div class="container-fluid">
                <div class="panel-body">
                    <div class="col-sm-12">
                        <h1>Selecciona un Laberinto</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container">
    	<article class="row row-content">
    		<div class="col-xs-12 col-md-6">
                <uib-accordion close-others="true">
                  <uib-accordion-group ng-repeat="l in laberintos" is-open="isOpen">
                      <uib-accordion-heading>
                        <a ng-click="seleccionarLaberinto(l)" href="#">{{l.nombreLaberinto}}</a>
                      </uib-accordion-heading>
                      <div class="media">
                          <div class="media-left media-middle">
                                <img class="media-object img-thumbnail img-responsive" ng-src="{{l.pathImagenLaberinto}}" alt="ImgLaberinto">
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading">{{l.nombreLaberinto}}</h2>
                                <p>Phasellus nisi ipsum, ornare non luctus id, molestie sit amet mauris. Mauris nec mi volutpat, tincidunt sem ut, dignissim diam. In et risus nec est pulvinar blandit.</p>
                            </div>
                        </div>
                  </uib-accordion-group>
              </uib-accordion>
            </div>
            
            <div ng-show="estaJugando" ui-sref="iniciarLaberinto"></div>
            <div ui-view></div>

    		<div ng-if="laberintoSeleccionado && !estaJugando" class="col-xs-12 col-md-6 animate-if">
                <h1>Laberinto Seleccionado:</h1>
                <div class="container">
                    <div class="row row-content">
                        <div class="col-sm-12">
                            <div class="media">
                                <div class="media-left media-middle">
                                    <img class="media-object img-thumbnail img-responsive" ng-src="{{laberintoSeleccionado.pathImagenLaberinto}}" alt="ImgLaberinto">
                                </div>
                                <div class="media-body">
                                    <h2 class="media-heading">{{laberintoSeleccionado.nombreLaberinto}}</h2>
                                    <p class="lead">{{laberintoSeleccionado.descripcionLaberinto}}</p>
                                    <div class="media-left">
                                    <button ng-click="jugar(laberintoSeleccionado.inventarioDelJugador)" class="btn btn-primary">Jugar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    	</article>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center">Construccion de Interfaces de Usuario 2016</p>
                    <p class="text-center">Grupo 2: Ivan Belleil, Sebastian Daprá, Emiliano Romero</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
</body>
</html>